/**
 * @file Styles HTML Tag Selector.
 */

#html_tag_selector_select_panel {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 228px;
  height: 500px;
  padding: 10px;
  padding-top: 20px;
  z-index: 100000;
  display: none;
  border: 4px solid #424242;
  border-radius: 10px;
  color: white;
  background-color: #424242;
  display: none;
}

#html_tag_selector_correct_panel {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 400px;
  height: 400px;
  padding: 10px;
  z-index: 100000;
  display: none;
  border: 4px solid #424242;
  border-radius: 10px;
  color: white;
  background-color: #424242;
  display: none;
}

#html_tag_selector_block_div input[type=button] {
  padding: 2px !important;
  margin: 1px 1px !important;
  border: 1px solid black !important;
  border-radius: 6px !important;
  box-shadow: 1px 1px rgb(14, 13, 13) !important;
  background-color: #424242 !important;;
  outline: none !important;
  font-family: Tahoma !important;
  color: white !important;
  position: static !important;
  background-image: none !important;
  font-weight: normal !important;
  text-shadow: none !important;
  line-height: normal !important;
  -webkit-box-sizing: none !important;
  box-sizing: none !important;
}

#html_tag_selector_block_turn_off {
  display: none;
}

/* process element */
.html_tag_selector_mouse_over {
  background-color: #ccffff;
  outline: 1px solid black;
}

.html_tag_selector_get_element {
  outline: 1px solid red;
}

#html_tag_selector_list_div {
  height: 200px;
  overflow-y: scroll;
  color: white;
}

#html_tag_selector_move {
  border: 1px solid black;
  position: absolute;
  top: -4px;
  left: 1px;
  cursor: pointer;
  padding: 2px;
  background: transparent;
  border-radius: 12px;
  text-align: center;
}

#html_tag_selector_info {
  height: 100px;
  overflow-y: scroll;
}
